html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  .buttonn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:grey;
  background-color:lightgreen;
  border-radius: 18px;
  box-shadow: 0 9px #999;
}

.buttonn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  border-radius: 4px;
  background-color:rgb(126, 240, 164);
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 1px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
